@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Economica|Fjalla+One|Open+Sans+Condensed|Great+Vibes|Pacifico:300');

body{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	font-weight: normal;
	line-height: 22px;
	letter-spacing: 0.1em;
	/* background-color: rgb(238, 235, 235); */
	margin:0px;
	padding: 0px;
}

html{
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	scroll-behaviour:smooth;
}
.uani{
	display:inline-block;
	position:relative;
	color:#0087ca;
	padding-bottom: 4px;
}

.uani:after{
	content:"";
	position:absolute;
	width:100%;
	transform:scaleX(0);
	height:2px;
	bottom:0;
	left:0;
	background-color:#ff6600;
	transform-origin:bottom right;
	transition: transform 0.25s ease-out;

}

.uani:hover:after{
	transform:scaleX(1);
	transform-origin:bottom left;
}